<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:replace="template1"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout "
    >

</head>
<style>
    .center {
        margin: fill;
        width: 30%;
        border: 3px solid lightslategray;
        padding: 10px;

    }
</style>
<body >
<div class="center"  >
    <form th:action="@{/login}" method="post" >
        <!-- Email input -->
        <div class="form-outline mb-2">

            <label class="form-label" for="form2Example1">Email address</label>
            <input name="email" type="email" id="form2Example1" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">

            <label class="form-label" for="form2Example2">Password</label>
            <input name="password" type="password" id="form2Example2" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4" >Sign in</button>


    </form>
</div>
</body>
</html>