<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div align="center" class="col-md-12">
    <h2>Welcome to customer registration page</h2>
    <div class="col-md-6">
        <form action="#" th:action="@{/customer/addNewCustomer}" th:object="${customer}" method="post">
            <div class="form-group">
                <label for="firstName">Name:</label>
                <input type="text" class="form-control" id="firstName" th:text="${customer.user.firstName}">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
            </div>
            <div class="form-group">
                <label for="customer.user.lastName">Subjects Count:</label>
                <input type="text" class="form-control" id="customer.user.lastName" th:field="*{customer.user.lastName}">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('customer.user.lastName')}" th:errors="*{customer.user.lastName}"></p>
            </div>
            <div class="form-group">
                <label for="customer.user.email">Grade:</label>
                <input type="email" class="form-control" id="customer.user.email" th:field="*{customer.user.email}" />
                <p class="alert alert-danger" th:if="${#fields.hasErrors('customer.user.email')}" th:errors="*{customer.user.email}"></p>
            </div>
            <div class="form-group">
                <label for="customer.user.password">Mobile Number:</label>
                <input type="password" class="form-control" id="customer.user.password" th:field="*{password}" />
                <p class="alert alert-danger" th:if="${#fields.hasErrors('customer.user.password')}" th:errors="*{customer.user.password}"></p>
            </div>
           <!-- <div class="form-group">
                <label for="bd">Birth Date:</label>
                <input type="date" class="form-control" id="bd" th:field="*{birthDate}" />
                <p class="alert alert-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" />
            </div>-->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
